# Jekyll build output and caches
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Local-only files during development
local/

# Generated dependency lockfiles
Gemfile.lock
node_modules
package-lock.json
